/*
    Style PERSO
*/

.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.regular-checkbox {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(216, 216, 216);
    padding: 9px;
    margin-right: 20px;
    border-radius: 14px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}


/*.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}*/

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 5px;
    color: rgb(255, 255, 255);
}

.xrouge {
    background-color: #EB5757;
}

.xorange {
    background-color: #F2994A;
}

.xjaune {
    background-color: #F2C94C;
}

.xvert {
    background-color: #219653;
}

.xbleu {
    background-color: #2F80ED;
}

.xrose {
    background-color: #9B51E0;
}

.xnoir {
    background-color: #333333;
}

.xgris {
    background-color: rgb(97, 97, 97);
}

.xblanc {
    background-color: #F2F2F2;
    border-color: rgb(97, 97, 97);
}

.xbrun {
    background-color: rgb(107, 61, 17);
}

.btn-badge-text {
    padding: .2rem .75rem .375rem .9rem;
}

.badge-count {
    position: relative;
    top: -17px;
    left: -13px;
}

.rounded-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.badge-white {
    background-color: white;
    border-radius: 50rem;
    left: -5px;
}

.badge-circle {
    top: -27px!important;
    left: -11px!important;
}

.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    text-indent: -999999px;
    width: 20px;
}

.badgebox:checked+.badge {
    text-indent: 0;
}

body {
    overflow-x: hidden;
}

#menu-toggle {
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 0px 10px 10px 0px;
    z-index: 999;
}

#switch-view {
    width: 300px;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 100%;
    padding: 1rem;
    background: linear-gradient(270deg, #5162A7 0%, rgba(83, 126, 197, 0) 100%), #537EC5;
    position: relative;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
        width: 500px;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -500px;
    }
}